# Consul Agent (Upstart unit)
description "Consul Agent"
start on (local-filesystems and net-device-up IFACE!=lo and stopped cloud-final)
stop on runlevel [016]

respawn
respawn limit 10 10
kill timeout 10

env DAEMON_OPTS="-config-dir {{ consul_config_dir }} -config-file={{ consul_config_file }}"

script
    test -e /etc/default/consul && . /etc/default/consul;
    exec sudo -u {{ consul_user }} -g {{ consul_group }} {{ consul_home }}/bin/consul agent $DAEMON_OPTS >> {{ consul_log_file }} 2>&1
end script
